<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnFailure="false"
         beStrictAboutOutputDuringTests="true"
         failOnEmptyTestSuite="false">

    <testsuites>
        <testsuite name="Security">
            <directory>tests/unit/Security</directory>
        </testsuite>
        <testsuite name="Capabilities">
            <directory>tests/unit/capabilities</directory>
        </testsuite>
        <testsuite name="Input">
            <directory>tests/unit/input</directory>
        </testsuite>
        <testsuite name="Functional">
            <directory>tests/unit/functional</directory>
        </testsuite>
        <testsuite name="Regression">
            <directory>tests/unit/regression</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">includes</directory>
        </include>
        <exclude>
            <directory>tests</directory>
            <directory>vendor</directory>
        </exclude>
    </source>

</phpunit>
